@model ClienteModel

@{
    ViewData["Title"] = "Editar Cliente";
}

<h3>Editar cliente</h3>

<form asp-controller="Cliente" asp-action="Editar" method="post">

    <input type="hidden" asp-for="Id" class="form-control">

    @Html.ValidationMessageFor(o => o.Codigo, "", new { @class = "text-danger" })
    <div class="input-group mb-3">
        <span class="input-group-text">Código</span>
        <input type="text" asp-for="Codigo" class="form-control">
    </div>

    @Html.ValidationMessageFor(o => o.Tipo, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(o => o.CpfCnpj, "", new { @class = "text-danger" })

    <div class="input-group mb-3">
        <select asp-for="Tipo" id="tipo" class="input-group-text" aria-label="Default select example">
            <option selected>Selecione</option>
            <option value="PF">CPF</option>
            <option value="PJ">CNPJ</option>
        </select>
        <input type="text" asp-for="CpfCnpj" id="documento" class="form-control">

        <span class="input-group-text">Rg/Ie</span>
        <input type="text" asp-for="RgIe" class="form-control">
    </div>

    @Html.ValidationMessageFor(o => o.NomeRazaoSocial, "", new { @class = "text-danger" })

    <div class="input-group mb-3">
        <span class="input-group-text">Nome/Razao social</span>
        <input type="text" asp-for="NomeRazaoSocial" id="nomeRazaoSocial" class="form-control">
        <span class="input-group-text">Nome abreviado/fantasia</span>
        <input type="text" asp-for="NomeAbreviadoFantasia" id="nomeFantasia" class="form-control">
    </div>

    @Html.ValidationMessageFor(o => o.Email, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(o => o.Telefone, "", new { @class = "text-danger" })

    <div class="input-group mb-3">
        <span class="input-group-text">E-mail</span>
        <input type="text" asp-for="Email" id="email" class="form-control">
        <span class="input-group-text">Telefone</span>
        <input type="text" asp-for="Telefone" id="telefone" class="form-control">
    </div>


    <div class="input-group mb-3">
    </div>


    @Html.ValidationMessageFor(o => o.Cep, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(o => o.Logradouro, "", new { @class = "text-danger" })


    <div class="input-group mb-3">
        <span class="input-group-text">CEP</span>
        <input type="text" asp-for="Cep" id="cep" class="form-control">
        <span class="input-group-text">Logradouro</span>
        <input type="text" asp-for="Logradouro" id="rua" class="form-control">
    </div>

    @Html.ValidationMessageFor(o => o.Numero, "", new { @class = "text-danger" })

    <div class="input-group mb-3">
        <span class="input-group-text">Número</span>
        <input type="text" asp-for="Numero" id="numero" class="form-control">
        <span class="input-group-text">Complemento</span>
        <input type="text" asp-for="Complemento" id="complemento" class="form-control">
    </div>

    @Html.ValidationMessageFor(o => o.Bairro, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(o => o.Municipio, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(o => o.UnidadeFederativa, "", new { @class = "text-danger" })


    <div class="input-group mb-3">
        <span class="input-group-text">Bairro</span>
        <input type="text" asp-for="Bairro" id="bairro" class="form-control">
        <span class="input-group-text">Municipio</span>
        <input type="text" asp-for="Municipio" id="cidade" class="form-control">
        <span class="input-group-text">UnidadeFederativa</span>
        <input type="text" asp-for="UnidadeFederativa" id="uf" class="form-control">
    </div>


    <input type="hidden" asp-for="Inclusao" class="form-control">
    <input type="hidden" asp-for="Alteracao" class="form-control">


    <button type="submit" class="btn btn-primary">Alterar</button>
    <a class="btn btn-secondary" role="button" asp-controller="Cliente" asp-action="Index">Voltar</a>

</form>
