@model List<ClienteModel>

@{
    ViewData["Title"] = "Listagem de clientes";
}




    @if (TempData["MensagemConfirm"] != null)
    {
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
            @TempData["MensagemConfirm"]
    </div>

        
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
            @TempData["MensagemErro"]
        </div>
    }

<div class="text-center">
    <h1>Listagem de Clientes</h1>
    
</div>

<div>
    <div class="dropdown">
    <a type="button" role="button " class="btn btn-primary" asp-controller="Cliente" asp-action="Criar">Cadastrar novo cliente</a>
        <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Selecionar campos a exibir
        </button>
        <ul class="dropdown-menu">

            
            <li>
                <input type="checkbox" id="CheckCodigo" name="Codigo" checked>
                <label for="CheckCodigo">Código</label>
            </li>

            <li>
                <input type="checkbox" id="CheckTipo" name="Tipo" checked>
                <label for="CheckTipo">Tipo</label>
            </li>

            <li>
                <input type="checkbox" id="CheckCpfCnpj" name="CpfCnpj" checked>
                <label for="CheckCpfCnpj">CPF/CNPJ</label>
            </li>

            <li>
                <input type="checkbox" id="CheckRgIe" name="RgIe" checked>
                <label for="CheckRgIe">RG/IE</label>
            </li>

            <li>
                <input type="checkbox" id="CheckNomeRazaoSocial" name="NomeRazaoSocial" checked>
                <label for="CheckNomeRazaoSocial">Nome/Razão Social</label>
            </li>

            <li>
                <input type="checkbox" id="CheckNomeAbreviadoFantasia" name="NomeAbreviadoFantasia" checked>
                <label for="CheckNomeAbreviadoFantasia">Nome Abreviado/Fantasia</label>
            </li>

            <li>
                <input type="checkbox" id="CheckCep" name="Cep" checked>
                <label for="CheckCep">CEP</label>
            </li>

            <li>
                <input type="checkbox" id="CheckLogradouro" name="Logradouro" checked>
                <label for="CheckLogradouro">Logradouro</label>
            </li>

            <li>
                <input type="checkbox" id="CheckNumero" name="Numero" checked>
                <label for="CheckNumero">Número</label>
            </li>

            <li>
                <input type="checkbox" id="CheckComplemento" name="Complemento" checked>
                <label for="CheckComplemento">Complemento</label>
            </li>

            <li>
                <input type="checkbox" id="CheckBairro" name="Bairro" checked>
                <label for="CheckBairro">Bairro</label>
            </li>

            <li>
                <input type="checkbox" id="CheckMunicipio" name="Municipio" checked>
                <label for="CheckMunicipio">Município</label>
            </li>

            <li>
                <input type="checkbox" id="CheckUnidadeFederativa" name="UnidadeFederativa" checked>
                <label for="CheckUnidadeFederativa">Unidade Federativa</label>
            </li>

            <li>
                <input type="checkbox" id="CheckEmail" name="Email" checked>
                <label for="CheckEmail">E-mail</label>
            </li>

            <li>
                <input type="checkbox" id="CheckTelefone" name="Telefone" checked>
                <label for="CheckTelefone">Telefone</label>
            </li>

            <li>
                <input type="checkbox" id="CheckInclusao" name="Inclusao" checked>
                <label for="CheckInclusao">Inclusão</label>
            </li>

            <li>
                <input type="checkbox" id="CheckAlteracao" name="Alteracao" checked>
                <label for="CheckAlteracao">Alteração</label>
            </li>


        </ul>
    </div>

</div>

    
<div class="text-center">

    <div class="table-container">

        <table id="talebaListagem" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nome/Razao social</th>
                    <th scope="col">Nome abreviado/fantasia</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Telefone</th>

                    <th scope="col">Tipo</th>
                    <th scope="col">Cpf/Cnpj</th>
                    <th scope="col">Rg/Ie</th>

                    <th scope="col">Cep</th>
                    <th scope="col">Logradouro</th>
                    <th scope="col">Número</th>
                    <th scope="col">Complemento</th>
                    <th scope="col">Bairro</th>
                    <th scope="col">Municipio</th>
                    <th scope="col">UnidadeFederativa</th>


                    <th scope="col">Dt.Inclusão</th>
                    <th scope="col">Dt.Alteração</th>
                    <th scope="col" class="fixed-header"></th>
                </tr>
            </thead>
            <tbody>



                @if(Model != null && Model.Any()){
                    foreach(ClienteModel cliente in Model){
                    <tr>
                        <th scope="row">@cliente.Id</th>

                            <td>@cliente.Codigo</td>
                            <td>@cliente.NomeRazaoSocial</td>
                            <td>@cliente.NomeAbreviadoFantasia</td>
                            <td>@cliente.Email</td>
                            <td>@cliente.Telefone</td>

                            <td>@cliente.Tipo</td>
                            <td>@cliente.CpfCnpj</td>
                            <td>@cliente.RgIe</td>

                            <td>@cliente.Cep</td>
                            <td>@cliente.Logradouro</td>
                            <td>@cliente.Numero</td>
                            <td>@cliente.Complemento</td>
                            <td>@cliente.Bairro</td>
                            <td>@cliente.Municipio</td>
                            <td>@cliente.UnidadeFederativa</td>

                        <td>@cliente.Inclusao</td>
                        <td>@cliente.Alteracao</td>

                        <td class="fixed-column">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a role="button" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="Editar" class="btn btn-outline-primary">Editar</a>
                            <a role="button" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="ConfirmarExclusao" class="btn btn-outline-danger">Apagar</a>
                        </div>
                        </td>
                    </tr>
                    }
                
                }

            


                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


